{% extends 'base.html' %}

{% block content %}
<div class="container">
<br>
<h1>Akt sverka. {{ fromdate}} dan {{ todate }} gacha</h1> <br>
<form class="d-flex" action="" method="POST">
  {% csrf_token %}
  <input type="date" class="form-control" name="fromdate" id="fromdate">
  <input type="date" class="form-control ms-3" name="todate" id="todate">
  <button class="btn btn-outline-success ms-3" type="submit">Select</button>
</form>
<br>


<table id="table" class="table table-striped table-hover table-bordered">
    <thead class="table-info fs-5 fw-bold">
      <tr>
        <th scope="col">№</th>
        <th scope="col">Sana</th>
        <th scope="col">Izoh</th>
        <th scope="col">Summa</th>
        <th scope="col">Qoldiq</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for q in qs %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ q.trans_date }}</td>
        <td>{{ q.comment }}</td>
        {% if q.summa %}
        <td class="balans">{{ q.summa }}</td>
        {% endif %}
        {% if q.ssumma %}
        <td class="balans">{{ q.ssumma }}</td>
        {% endif %}
        <td></td>
      </tr>
      {% endfor %}
      <tr class="table-dark border-primary fs-5 fw-bold">
        <td>Total</td>
        <td></td>
        <td></td>
        <td id="total"></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <script type="text/javascript">
    
    let total = document.getElementById('total');
    let balans = document.getElementsByClassName('balans');
    let cal = 0;
    for(let i=0; i<balans.length; i++){
        cal +=  parseInt(balans[i].innerHTML);
    }
    total.innerHTML = cal;

    let date = new Date();
    let nextDay = new Date(date);
    nextDay.setDate(date.getDate()+1);
    let day = nextDay.getDate() < 10 ? '0' + nextDay.getDate() : nextDay.getDate();
    let month = date.getMonth() + 1;
    let year = date.getFullYear();

    if (month < 10) month = "0" + month;
    let tomorrow = year + "-" + month + "-" + day; 
    let fd = year + "-" + month + "-" + "01";   

  
    document.getElementById("todate").value = tomorrow;
    document.getElementById("fromdate").value = fd;
  </script>
</div>  
{% endblock content %}