{% extends 'base.html' %}

{% block content %}
<div class="container">
<br>
<h1> Providerlar </h1> <br>


<table id="table" class="table table-striped table-hover table-bordered">
    <thead class="table-info fs-5 fw-bold">
      <tr>
        <th scope="col">№</th>
        <th scope="col">Nomi</th>
        <th scope="col">Balansi</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for p in providers %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ p.username }}</td>
        <td class="balans">{{ p.balance }}</td>
      </tr>
      {% endfor %}
      <tr class="table-dark border-primary fs-5 fw-bold">
        <td>Total</td>
        <td></td>
        <td id="total"></td>
      </tr>
    </tbody>
  </table>

  <script>
    
    var total = document.getElementById('total');
    var balans = document.getElementsByClassName('balans');
    var cal = 0;
    for(let i=0; i<balans.length; i++){
        cal +=  parseInt(balans[i].innerHTML);
    }
    total.innerHTML = cal;
  </script>
</div>  
{% endblock content %}