{% extends 'base.html' %}

{% block content %}
<br>
<h1> Ombor Qoldig`i</h1> <br>
<form class="d-flex" action="" method="POST">
  {% csrf_token %}
  <select class="form-select" aria-label="Default select example" name="selected">
    
    {% for warehouse in warehouse_filter.form %}
      <option value="{{ warehouse }}"></option>
    {% endfor %}

    <button class="btn btn-outline-success ms-3" type="submit">Select</button>
  </select>
</form>
<br>

<table class="table table-striped table-hover table-bordered">
    <thead class="table-info">
      <tr>
        <th scope="col">№</th>
        <th scope="col">Nomi</th>
        <th scope="col">Soni</th>
        <th scope="col">Narxi</th>
        <th scope="col">Summasi</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for product in warehouse_list %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ product.product }}</td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.body_price }}</td>
        <td>{{ product.body_summa }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{{ product }}


{% endblock content %}