
{% extends 'base.html' %}


{% block content %} <br>

<center>
    {% if user.is_superuser %}
    
{% if submitted %}
<h1>Tovar kirim bo'ldi</h1>
{% else %}
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h1>Tovar kirim qilish <input type="submit" value="Saqlash" class="btn btn-outline-success"> </h1> <br><br>
        
    
        <div class="row">
            <div class="col-3">
                <h5>Sana:</h5>
                {{ sana }}
            </div>
            <div class="col-3">
                <h5>Omborni tanlang:</h5>
                {{ ombor }}
            </div>
            <div class="col-3">
                <h5>Kontragent:</h5>
                {{ kontragent }}
            </div>
            <div class="col-3">
                <h5>Izoh:</h5>
                {{ izoh }} <br>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-striped table-hover table-bordered">
                    <thead class="table-info fs-5 fw-bold">
                      <tr>
                        <th scope="col">№</th>
                        <th scope="col">Tovar nomi</th>
                        <th scope="col">Box</th>
                        <th scope="col">Soni</th>
                        <th scope="col">Tannarxi</th>
                        <th scope="col">Tansumma</th>
                        <th scope="col">Narxi</th>
                        <th scope="col">Summa</th>
                        <th scope="col">Snarxi</th>
                        <th scope="col">Ssumma</th>
                      </tr>
                    </thead>
                    <tbody id="mytable" class="table-group-divider">
                      <tr>
                        <th scope="row" onclick="AddRow()" >+</th>
                        <td>{{ tovar }}</td>
                        <td></td>
                        <td class="soni" onchange="quantityfunc()">{{ soni }}</td>
                        <td class="tannarxi" onchange="quantityfunc()">{{ tannarxi }}</td>
                        <td class="tansumma" onchange="quantityfunc()">{{ tansumma }}</td>
                        <td class="narxi" onchange="quantityfunc()">{{ narxi }}</td>
                        <td class="summa" onchange="quantityfunc()">{{ summa }}</td>
                        <td class="snarxi" onchange="quantityfunc()">{{ snarxi }}</td>
                        <td class="ssumma" onchange="quantityfunc()">{{ ssumma }}</td>
                      </tr>
                    </tbody>
                    <tbody class="table-group-divider">
                      <tr class="table-dark border-primary fs-5 fw-bold">
                        <td colspan="2">Total</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td id="total_tansum"></td>
                        <td></td>
                        <td id="total_sum"></td>
                        <td></td>
                        <td id="total_ssum"></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            
        </div>
    
</form>
{% endif %}
{% else %} 
<h1>Kechirasiz sizning bunday huquqingiz yo'q!</h1>

{% endif %}


</center>

<script>
    
let total_sum = document.getElementById('total_sum');
let total_tansum = document.getElementById('total_tansum');
let total_ssum = document.getElementById('total_ssum');

let soni = document.getElementsByClassName('soni');
let tannarxi = document.getElementsByClassName('tannarxi');
let tansumma = document.getElementsByClassName('tansumma');
let narxi = document.getElementsByClassName('narxi');
let summa = document.getElementsByClassName('summa');
let snarxi = document.getElementsByClassName('snarxi');
let ssumma = document.getElementsByClassName('ssumma');

let mytable = document.getElementById('mytable');

  function totalResult(element_id, element_class){
    let cal = 0;
      for(let i=0; i<element_class.length; i++){
        cal +=  parseFloat(element_class[i].children[0].value);
      }
      element_id.innerHTML = cal;
      
  }
  function quantityfunc(){
      tansumma.children[0].value = parseInt(tannarxi.children[0].value)*parseInt(soni.children[0].value);
      summa.children[0].value = parseInt(narxi.children[0].value)*parseInt(soni.children[0].value);
      ssumma.children[0].value = parseInt(snarxi.children[0].value)*parseInt(soni.children[0].value);
      totalResult(total_sum, summa);
      totalResult(total_tansum, tansumma);
      totalResult(total_ssum, ssumma);
    }
  function summafunc(){
      tannarxi.children[0].value = parseInt(tansumma.children[0].value)/parseInt(soni.children[0].value);
      narxi.children[0].value = parseInt(summa.children[0].value)/parseInt(soni.children[0].value);
      snarxi.children[0].value = parseInt(ssumma.children[0].value)/parseInt(soni.children[0].value);
  }
  function AddRow(){
    mytable.innerHTML += `<tr>
                        <th scope="row" onclick="AddRow()" >+</th>
                        <td>{{ tovar }}</td>
                        <td></td>
                        <td class="soni" onchange="quantityfunc()">{{ soni }}</td>
                        <td class="tannarxi" onchange="quantityfunc()">{{ tannarxi }}</td>
                        <td class="tansumma" onchange="quantityfunc()">{{ tansumma }}</td>
                        <td class="narxi" onchange="quantityfunc()">{{ narxi }}</td>
                        <td class="summa" onchange="quantityfunc()">{{ summa }}</td>
                        <td class="snarxi" onchange="quantityfunc()">{{ snarxi }}</td>
                        <td class="ssumma" onchange="quantityfunc()">{{ ssumma }}</td>
                      </tr>`
  }

</script>

{% endblock content %}