{% extends 'base.html' %}

{% block content %}
<br>
<h1>Mahsulotlar</h1> <br>

<table class="table table-striped table-hover table-bordered">
    <thead class="table-info">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nomi</th>
        <th scope="col">Sig`imi</th>
        <th scope="col">Brand</th>
        <th scope="col">Hajmi</th>
        <th scope="col">O'g'irligi</th>
        <th scope="col">Kodi</th>
        <th scope="col">Sozlamalar</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for product in product_list %}
      <tr>
        <th scope="row">{{ product.id }}</th>
        <td>{{ product.name }}</td>
        <td>{{ product.capacity }}</td>
        <td>{{ product.brand }}</td>
        <td>{{ product.product_size }}</td>
        <td>{{ product.product_weight }}</td>
        <td>{{ product.code }}</td>
        {% if user.is_superuser %}
        <td align="right">
          <a href="{% url 'add_product_name' %}" class="btn btn-outline-success btn-sm mx-1">Add new</a>
          <a href="{% url 'update_product_name' product.id %}" class="btn btn-outline-secondary btn-sm mx-1">Update</a>
          <a href="{% url 'delete_product_name' product.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
        </td>
            {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}