<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">NC</a>
      <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a href="{% url 'home' %}" class="nav-link px-3 text-warning fs-4">Home</a>
        
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if user.is_superuser %}
          <a href="{% url 'post_new' %}" class="nav-link px-3 text-info fs-4">Add Post</a>
          <li class="nav-item dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="far fa-cart-arrow-down"></i>  Marketing
          </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownButton">
              <li><a class="dropdown-item" href="{% url 'in_product_list' %}">InProduct</a></li>
              <li><a class="dropdown-item" href="{% url 'out_product_list' %}">OutProduct</a></li>
              <li><a class="dropdown-item" href="{% url 'out_productb_list' %}">OutProductB</a></li>
              <li><a class="dropdown-item" href="{% url 'in_cash_list' %}">InCash</a></li>
              <li><a class="dropdown-item" href="{% url 'in_cashclient_list' %}">InCashClient</a></li>
              <li><a class="dropdown-item" href="{% url 'out_cash_list' %}">OutCash</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
          <li class="nav-item dropdown">
            <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="far fa-money-check-edit-alt"></i>  Reports
          </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownButton">
              <li><a class="dropdown-item" href="{% url 'warehouse' %}">Warehouse</a></li>
              <li><a class="dropdown-item" href="{% url 'providers' %}">Providers</a></li>
              <li><a class="dropdown-item" href="{% url 'clients' %}">Clients</a></li>
              <li><a class="dropdown-item" href="{% url 'cash_list' %}">Cashes</a></li>
              <li><a class="dropdown-item" href="{% url 'expense_list' %}">Expense</a></li>
              <li><a class="dropdown-item" href="{% url 'act_sverka' %}">Akt sverka</a></li>
              <li><a class="dropdown-item" href="{% url 'act_sverka_client' %}">Akt sverka Client</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
          <li class="nav-item dropdown">
            <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="far fa-info-circle"></i>  Info
          </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownButton">
              <li><a class="dropdown-item" href="{% url 'product_list' %}">Products</a></li>
              <li><a class="dropdown-item" href="{% url 'warehouse_list' %}">Warehouses</a></li>
            </ul>
          </li>
          {% endif %}
        </ul>
        
          <a href="{% url 'home' %}" class="nav-link px-4 text-warning fs-4">Biz haqimizda</a>
        
          {% if user.is_authenticated %}
          <a href="{% url 'my_act_sverka' %}" class="nav-link px-4 text-info fs-4">Mening hisobim</a>
          <a href="{% url 'logout' %}" class="btn btn-danger mt-2 mb-2 mx-2">LogOut</a>
          <div class="d-block">
            
              {% if user.image %}
              <img src="{{ user.image.url }}" alt="mdo" width="32" height="32" class="rounded-circle">
              {% endif %}
            
            <p class="text-info">{{ user.username }}</p>
          </div>
          {% else %}
          <a href="{% url 'login' %}" class="btn btn-outline-light me-2">Login</a>
          <a href="{% url 'register_user' %}" class="btn btn-warning">Sign-up</a>
          {% endif %}
     
      </div>
    </div>
  </nav>