<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">NC</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'warehouse' %}">Warehouse</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'providers' %}">Providers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'clients' %}">Clients</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'product_list' %}">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'in_product_list' %}">InProduct</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'out_product_list' %}">OutProduct</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="dropdownButton" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownButton">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
            
        
        </ul>
        <div class="text-end d-flex">
          {% if user.is_authenticated %}
          
          <a href="{% url 'logout' %}" class="btn btn-danger mt-2 mb-2 mx-2">LogOut</a>
          <div class="d-block">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              {% if user.image %}
              <img src="{{ user.image.url }}" alt="mdo" width="32" height="32" class="rounded-circle">
              {% endif %}
            </a> 
            {{ user.username }}
          </div>
          {% else %}
          <a href="{% url 'login' %}" class="btn btn-outline-light me-2">Login</a>
          <a href="{% url 'register_user' %}" class="btn btn-warning">Sign-up</a>
          {% endif %}
      </div>
      </div>
    </div>
  </nav>